MyKaffeeService/MyKaffeeService.Client/Connected Services/ServiceReference1/MyKaffeeService.Host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyKaffeeService.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyKaffeeService.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKaffee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kaffee" nillable="true" type="tns:Kaffee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKaffee" nillable="true" type="tns:ArrayOfKaffee" />
  <xs:complexType name="Kaffee">
    <xs:sequence>
      <xs:element minOccurs="0" name="GanzeBohnen" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hersteller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sorte" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kaffee" nillable="true" type="tns:Kaffee" />
</xs:schema>